<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
<!--    <groups>-->
<!--        <run>-->
<!--            <include name="SmokeTest"/>-->
<!--            <include name="RegressionTest"/>-->
<!--        </run>-->
<!--    </groups>-->

    <listeners>
        <listener class-name="utilities.Reporting"/>
        <listener class-name="utilities.ReportingAllure"/>
    </listeners>
    <test name="testCases.LoginPopUpTest">
        <classes>
            <class name="testCases.LoginPopUpTest"/>
            <class name="testCases.PasswordRecoveryTest"/>
            <class name="testCases.SignUpQuickRegisterTest"/>
        </classes>
    </test>
</suite>