<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <groups>
        <run>
            <include name="SmokeTest"/>
            <include name="RegressionTest"/>
        </run>
    </groups>
<!--    <listeners>-->
<!--        <listener class-name="utilities.Reporting"/>-->
<!--    </listeners>-->
    <test name="testCases.LogoTest">
        <classes>
            <class name="testCases.LogoTest"/>
        </classes>
    </test>
</suite>